In [50]:
import numpy as np
import pandas as pd
import sklearn
import pymysql
import datetime
import timedelta
import operator
import pyfpgrowth

In [51]:
db = pymysql.connect(host='localhost',user='root',passwd='',database='genius')
cursor = db.cursor()

In [52]:
query=("select *from user_goal_data")
df = pd.read_sql_query(query,db)
df1=df.copy()

In [53]:
nan =float("NaN")
nanstr="NaN"
# df1['s_year']=nan
# df1['s_month']=nan
# df1['s_date']=nan
# df1['e_year']=nan
# df1['e_month']=nan
# df1['e_date']=nan
df1['days']=nan
#df1['imp_days']=nan
x=int(df1.user_id.count())
i=0
j=0
# for i in range(x):
#     df1['s_year'][i]=int(str(df1['start_date'][i][0:4]))
#     df1['s_month'][i]=int(str(df1['start_date'][i][5:7]))
#     df1['s_date'][i]=int(str(df1['start_date'][i][8:]))
#     i=i+1
   
    
# for j in range(x):
#     df1['e_year'][j]=int(df1['end_date'][j][0:4])
#     df1['e_month'][j]=int(df1['end_date'][j][5:7])
#     df1['e_date'][j]=int(df1['end_date'][j][8:])
#     j=j+1
    

for k in range(x):
    start_date=datetime.date(int(df1['start_date'][k][0:4]),int(df1['start_date'][k][5:7]),int(df1['start_date'][k][8:]))
    end_date=datetime.date(int(df1['end_date'][k][0:4]),int(df1['end_date'][k][5:7]),int(df1['end_date'][k][8:])) 
    diff=end_date-start_date
    diff+= datetime.timedelta(days=(1))
    df1['days'][k]=diff.days
    #df1['imp_days'][k]=int(df1['imp'][k])*int(df1['days'][k])
    k=k+1
df1['start_date']=pd.to_datetime(df1['start_date'])
df1['end_date']=pd.to_datetime(df1['end_date'])   
df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
id             71 non-null int64
user_id        71 non-null object
goal_cat_id    71 non-null int64
goal_id        71 non-null int64
start_date     71 non-null datetime64[ns]
end_date       71 non-null datetime64[ns]
status         71 non-null int64
created_on     71 non-null datetime64[ns]
days           71 non-null float64
dtypes: datetime64[ns](3), float64(1), int64(4), object(1)
memory usage: 5.1+ KB

/home/jainish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
# s=list(df1.goal_id.unique())
# s.sort()
# s

In [55]:
#mask = '''(df1['start_date'] > s_date) & (df1['end_date'] <= e_date ) &''' (df1['goal_cat_id']==2)# & (df1.user_id==inp_user)
#print(mask)

mask=df1['goal_cat_id']==5
df2 = df1.loc[mask] 
print(df2)
print("\n")
    
    
    
# x=int(df2.user_id.count())
# print(x)
#print("\n")
    # df3['goal_id']=nan
    # df3['user_id']=nanstr
    # df3['date']=nanstr
k=0
i=0
j=0
goal_id=list(df2['goal_id'])
user_id=list(df2['user_id'])
date=list(df2['start_date'])
days=list(df2['days'])
status=list(df2['status'])
    # print(goal_id)
    # print(user_id[0])
    # print(date)
    # print(imp)
    # print(imp_days)
    # print(df3.info())

df_goal_id=[]
df_user_id=[]
df_date=[]
df_days=[]
df_diff_date=[]
df_status=[]
for i in range(len(user_id)):
    l = int(days[i])
    for j in range(l):
        df_goal_id.append(goal_id[i])
        df_user_id.append(user_id[i])
        df_date.append(date[i])
        df_days.append(days[i])
        date1=date[i]
        date1+= datetime.timedelta(days=(j))
        df_diff_date.append(date1)
        df_status.append(status[i])
    #         print(j)
        j=j+1
        k=k+1
    i=i+1
    # print(df_diff_date)

df3 = pd.DataFrame(list(zip(df_goal_id,df_user_id,df_date,df_days,df_diff_date,df_status)) ,columns=['df_goal_id','df_user_id','df_date','df_days','df_diff_date','df_status'])    
df3.info()

    id user_id  goal_cat_id  goal_id start_date   end_date  status  \
6   26   user1            5       26 2020-01-02 2020-01-31       0
7   27   user1            5       27 2020-01-03 2020-01-24       1
11  31   user2            5       28 2020-01-02 2020-01-31       2
12  32   user2            5       29 2020-01-03 2020-01-24       1
25  45   user6            5       30 2020-01-02 2020-01-31       0
26  46   user6            5       30 2020-01-03 2020-01-24       2

            created_on  days
6  2020-01-02 11:28:25  30.0
7  2020-01-03 05:20:55  22.0
11 2020-01-02 11:28:25  30.0
12 2020-01-03 05:20:55  22.0
25 2020-01-02 11:28:25  30.0
26 2020-01-03 05:20:55  22.0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 6 columns):
df_goal_id      156 non-null int64
df_user_id      156 non-null object
df_date         156 non-null datetime64[ns]
df_days         156 non-null float64
df_diff_date    156 non-null datetime64[ns]
df_status       156 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 7.4+ KB

In [56]:
f_df=pd.DataFrame()
f_df['goals']=df3.groupby('df_diff_date')['df_goal_id'].unique()
f_df

                             goals
df_diff_date
2020-01-02            [26, 28, 30]
2020-01-03    [26, 27, 28, 29, 30]
2020-01-04    [26, 27, 28, 29, 30]
2020-01-05    [26, 27, 28, 29, 30]
2020-01-06    [26, 27, 28, 29, 30]
2020-01-07    [26, 27, 28, 29, 30]
2020-01-08    [26, 27, 28, 29, 30]
2020-01-09    [26, 27, 28, 29, 30]
2020-01-10    [26, 27, 28, 29, 30]
2020-01-11    [26, 27, 28, 29, 30]
2020-01-12    [26, 27, 28, 29, 30]
2020-01-13    [26, 27, 28, 29, 30]
2020-01-14    [26, 27, 28, 29, 30]
2020-01-15    [26, 27, 28, 29, 30]
2020-01-16    [26, 27, 28, 29, 30]
2020-01-17    [26, 27, 28, 29, 30]
2020-01-18    [26, 27, 28, 29, 30]
2020-01-19    [26, 27, 28, 29, 30]
2020-01-20    [26, 27, 28, 29, 30]
2020-01-21    [26, 27, 28, 29, 30]
2020-01-22    [26, 27, 28, 29, 30]
2020-01-23    [26, 27, 28, 29, 30]
2020-01-24    [26, 27, 28, 29, 30]
2020-01-25            [26, 28, 30]
2020-01-26            [26, 28, 30]
2020-01-27            [26, 28, 30]
2020-01-28            [26, 28, 30]
2020-01-29            [26, 28, 30]
2020-01-30            [26, 28, 30]
2020-01-31            [26, 28, 30]

In [57]:
transactions = []
for sublist in f_df.goals.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)
transactions

[[26, 28, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 27, 28, 29, 30],
 [26, 28, 30],
 [26, 28, 30],
 [26, 28, 30],
 [26, 28, 30],
 [26, 28, 30],
 [26, 28, 30],
 [26, 28, 30]]

In [58]:
patterns = pyfpgrowth.find_frequent_patterns(transactions,2)

In [59]:
patterns

{(26,): 30,
 (28,): 30,
 (30,): 30,
 (27,): 22,
 (29,): 22,
 (26, 28): 30,
 (26, 30): 30,
 (26, 27): 22,
 (26, 29): 22,
 (28, 30): 30,
 (27, 28): 22,
 (28, 29): 22,
 (27, 30): 22,
 (29, 30): 22,
 (27, 29): 22,
 (26, 28, 30): 30,
 (26, 27, 28): 22,
 (26, 28, 29): 22,
 (26, 27, 30): 22,
 (26, 29, 30): 22,
 (26, 27, 29): 22,
 (27, 28, 30): 22,
 (28, 29, 30): 22,
 (27, 28, 29): 22,
 (27, 29, 30): 22,
 (26, 27, 28, 30): 22,
 (26, 28, 29, 30): 22,
 (26, 27, 28, 29): 22,
 (26, 27, 29, 30): 22,
 (27, 28, 29, 30): 22,
 (26, 27, 28, 29, 30): 22}

In [60]:
s = dict( sorted(patterns.items(), key=operator.itemgetter(1),reverse=True))
s

{(26,): 30,
 (28,): 30,
 (30,): 30,
 (26, 28): 30,
 (26, 30): 30,
 (28, 30): 30,
 (26, 28, 30): 30,
 (27,): 22,
 (29,): 22,
 (26, 27): 22,
 (26, 29): 22,
 (27, 28): 22,
 (28, 29): 22,
 (27, 30): 22,
 (29, 30): 22,
 (27, 29): 22,
 (26, 27, 28): 22,
 (26, 28, 29): 22,
 (26, 27, 30): 22,
 (26, 29, 30): 22,
 (26, 27, 29): 22,
 (27, 28, 30): 22,
 (28, 29, 30): 22,
 (27, 28, 29): 22,
 (27, 29, 30): 22,
 (26, 27, 28, 30): 22,
 (26, 28, 29, 30): 22,
 (26, 27, 28, 29): 22,
 (26, 27, 29, 30): 22,
 (27, 28, 29, 30): 22,
 (26, 27, 28, 29, 30): 22}

In [61]:

s1=list(s.keys())
s2=s1[:10]
s2

[(26,),
 (28,),
 (30,),
 (26, 28),
 (26, 30),
 (28, 30),
 (26, 28, 30),
 (27,),
 (29,),
 (26, 27)]

In [62]:
rules = pyfpgrowth.generate_association_rules(patterns,0)

In [63]:
rules

{(26,): ((27, 28, 29, 30), 0.7333333333333333),
 (28,): ((26, 27, 29, 30), 0.7333333333333333),
 (30,): ((26, 27, 28, 29), 0.7333333333333333),
 (27,): ((26, 28, 29, 30), 1.0),
 (29,): ((26, 27, 28, 30), 1.0),
 (26, 28): ((27, 29, 30), 0.7333333333333333),
 (26, 30): ((27, 28, 29), 0.7333333333333333),
 (28, 30): ((26, 27, 29), 0.7333333333333333),
 (26, 27): ((28, 29, 30), 1.0),
 (27, 28): ((26, 29, 30), 1.0),
 (26, 29): ((27, 28, 30), 1.0),
 (28, 29): ((26, 27, 30), 1.0),
 (27, 30): ((26, 28, 29), 1.0),
 (29, 30): ((26, 27, 28), 1.0),
 (27, 29): ((26, 28, 30), 1.0),
 (26, 27, 28): ((29, 30), 1.0),
 (26, 27, 30): ((28, 29), 1.0),
 (26, 28, 30): ((27, 29), 0.7333333333333333),
 (27, 28, 30): ((26, 29), 1.0),
 (26, 28, 29): ((27, 30), 1.0),
 (26, 29, 30): ((27, 28), 1.0),
 (28, 29, 30): ((26, 27), 1.0),
 (26, 27, 29): ((28, 30), 1.0),
 (27, 28, 29): ((26, 30), 1.0),
 (27, 29, 30): ((26, 28), 1.0),
 (26, 27, 28, 29): ((30,), 1.0),
 (26, 27, 28, 30): ((29,), 1.0),
 (26, 27, 29, 30): ((28,), 1.0),
 (26, 28, 29, 30): ((27,), 1.0),
 (27, 28, 29, 30): ((26,), 1.0)}